.NewNote-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.NewNote-heading {
  display: flex;
}

.NewNote-notes {
  flex-grow: 1;
  margin-bottom: 8px;
  font-size: 20px;
}

.NewNote-note-heading {
  display: flex;
}

.NewNote-note-hint {
  display: inline-block;
  margin: 0;
  font-weight: 200;
  font-style: italic;
}

.NewNote-textarea-warning {
  border: 1px red solid;
}

.NewNote-title {
  font-size: 24px;
  margin: 0;
  display: inline;
  flex-grow: 1;
}

.NewNote-title-input {
  font-size: 24px;
  margin: 8px 0;
}

.NewNote-action-section {
  display: flex;
}