
/* Flex Layout */

.NotePage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.NotePage-main {
  flex-grow: 1;
  background-color: #E9E9EF;
  display: flex;
}

.NotePage-header {
  background-color: #B0B0E8;
}

/* Margins */

.NotePage-header, .NotePage-main {
  padding: 8px;
}