.Footer-container {
  display: flex;
}

.Footer-button {
  text-align: center;
  flex-grow: 1;
  font-size: 1em;
  font-family: 'Helvetica Neue', Georgia, 'Times New Roman', Times, serif;
  padding: 16px;
  border-radius: 0;
  border: none;
  background-color: white;
  font-weight: bold;
}